@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    font-size: 62.5%;
}

header {
    background-color: #242529;
}

.menu-container {
    width: 100vw;
    height: 8vh;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container a {
    font-size: 1.4rem;
    align-items: center;
    margin: 1.3rem;
    text-decoration: none;
    transition: 0.3s;
}

.menu-container > a > h1 {
    margin-left: 5rem;
    color: transparent;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#ffe600, #c4b000, #796d00);
    background-clip: text;
    -webkit-background-clip: text;
}

.navbar-left{
    display: flex;
    align-items: center;
}

.navbar-left a {
    position: relative;
    font-weight: 700;
    color: #ffff;
    text-decoration: none;
    margin: 15px;
    padding: 0;
}

.navbar-left a::before {
    content: '';
    color: yellow;
    background: yellow;
    position:absolute;
    top:100%;
    left: 0;
    width: 0;
    height: 2px;
    transition: .3s;
}

.navbar-left a:hover::before {
    width: 100%;
}

.navbar-right{
    display: flex;
    align-items: center;
}

.navbar-right a {
    font-weight: 700;
    color: #ffff;
    text-decoration: none;
    margin: 10px;
}

.navbar-right a:hover {
    color: yellow;
}

.navbar-right > form {
    padding-right: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-right > form > input {
    align-items: center;
    font: 1.6em sans-serif;
    width: 16rem;
    height: 2.4rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 5px;
}

.btnSearch {
    margin-left: 1.5%;
}

#search-bar {
    padding-left: .5em;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: .7rem .8rem;
    font-size: .9rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0054ae;
}

#mobile-menu {
    color: #fff;
    width: 32px;
    padding: 10px;
    display: none;
    cursor: pointer;
    align-items: center;
}

#search {
    color: #fff;
    width: 32px;
    padding: 10px;
    display: none;
    cursor: pointer;
    align-items: center;
}

#user {
    color: #fff;
    width: 32px;
    padding: 10px;
    display: none;
    cursor: pointer;
    align-items: center;
}

.icons {
    display:flex;
    align-items: center;
}

@media (max-width: 1131px) {
    .menu-container {
        justify-content: space-between;       
    }
    input, .btnSearch {
        display: none;
    }
    .navbar-right {
        position:absolute;
        top: 8vh;
        right: 0;
        width: 35vw;
        height: 92vh;
        background-color: #242529;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .navbar-right > a { 
        padding: 5rem 0;
    }
    #user {
        display: block;
    }
    #search {
        display: block;
    }
}

@media (max-width: 779px) {
    body {
        overflow-x: hidden;
    }
    .navbar-left {
        position:absolute;
        top: 8vh;
        right: 0;
        width: 35vw;
        height: 92vh;
        background-color: #242529;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    #mobile-menu {
        display: block;
    }     
}

@media (max-width: 389px) {
    .menu-container > a, .menu-container > a > h1 {
        margin: auto;
    } 
}



